{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "off",
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true
}
